<!--FOOTER-->
<footer class=" bg-dark border-2 border-top border-primary fixed-bottom">
   <!--CONTENU FOOTER-->
   <div class="">
      <div  class="row pe-5 pb-2  text-center">

         <div class=" text-start pt-2 border-primary">
            <a href="https://fb.com"><i class="h4   ps-3 pe-2 bg-blue"><img height="30px"
                     src="assets/images/facebook.png" alt=""></i></a>
            <a href="https://instagram.com"><i class="h4  pe-2  bg-blue"><img height="30px"
                     src="assets/images/instagram.png" alt=""></i></a>
            <a href="https://twitter.com/"><i class="h4  pe-2 bg-blue"><img height="30px"
                     src="assets/images/twitter.png" alt=""></i></a>
            <a class=" pe-2" href="/feed"><i class="text-white pe-2"> <img height="30px"
                     src="assets/images/rss.png" alt=""></i></a>
            <a class="text-white" href="/mentions_legales"><i class="fas fa-xss">Mentions légales</i> </a>
         </div>

      </div>

   </div>


</footer>
