<!--FOOTER-->
<footer class=" bg-dark border fixed-bottom  border-primary">
   <!--CONTENU FOOTER-->
   <div class="" >
      <div class="row text-center">
          <h2 class="h4"><a href="/mentions_legales">Mentions légales</a></h2>
      <div class=" text-start border-primary">
         <i class="h4 pe-2 bg-blue fab fa-facebook"></i>
         <i class="h4 pe-2 bg-blue fab fa-instagram"></i>
         <i class="h4 pe-2 bg-blue fab fa-twitter"></i>
         <a class="ps-2" href="/feed"><i class=" fas fa-rss">flux rss</i></a>
      </div>

      </div>
     
   </div>


</footer>