<!--FOOTER-->

<footer class="container-fluid bg-gradient border border-primary">
    <!--contenu footer-->
    <div class=" container pt-3 pb-2 ">
       <h1 class=" h4 text-center fw-bold">Copyright - 2021</h1>
       <div class="border-start border-end ps-2 border-primary">
          <i class="h4 pe-2 bg-blue fab fa-facebook"></i>
         <i class="h4 pe-2 bg-blue fab fa-instagram"></i>
          <i class="h4 pe-2 bg-blue fab fa-twitter"></i>
          <a class="ps-2" href="/feed"><i class="ps-2 fas fa-rss">flux rss</i></a>
       </div>
      
    </div>


</footer>