<!--FOOTER-->
<footer class=" bg-dark border-2 border-top border-primary fixed-bottom">
   <!--CONTENU FOOTER-->
   <div class="" >
      <div class="row pe-5  text-center">
          
      <div class=" text-start border-primary">
         <i class="h4 pe-2 bg-blue fab fa-facebook"></i>
         <i class="h4 pe-2 bg-blue fab fa-instagram"></i>
         <i class="h4 pe-2 bg-blue fab fa-twitter"></i>
         <a class="ps-2" href="/feed"><i class="text-white fas fa-rss">flux rss</i></a>
         <a class="text-white" href="/mentions_legales">Mentions légales</a>
      </div>

      </div>
     
   </div>


</footer>