<!--FOOTER-->

<footer>
    <!--image+nom_musique+nom_artiste-->
    <div class=" container-fluid  bg-gradient">
       <h6 class="text-center">Copyright - 2021</h6>
        <i class=" pe-2 bg-blue fab fa-facebook"></i>
         <i class=" pe-2 bg-blue fab fa-instagram"></i>
          <i class=" pe-2 bg-blue fab fa-twitter"></i>
    </div>


</footer>