<!DOCTYPE html>
<html lang="en">

<!--HEAD-->

<head>
    <!--ENCODAGE-->
    <meta charset="UTF-8">
    <!--RESPONSIVE-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--ICONES-->
    <script src="https://kit.fontawesome.com/6ef412e734.js" crossorigin="anonymous"></script>
    <!--FONTS-->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,700&display=swap');
    </style>
    <!--FAVICON -->
    <link rel="shortcut icon" href="/assets/images/download.png" />
    <!--STYLE-->
    <link rel="preload" as="image"
        href="https://images.pexels.com/photos/601798/pexels-photo-601798.jpeg?cs=srgb&dl=pexels-neosiam-601798.jpg&fm=jpg">

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/body.css">
    <!--titre-->
    <title>Inf0-sec</title>
</head>
<!--/HEAD-->

<body class="text-primary">