{{!-- HEAD --}}
<!DOCTYPE html>
{{!-- LANGUAGE --}}
<html lang="en">
{{!-- DEBUT CONTENU HEAD --}}

<head>
    <!--ENCODAGE-->
    <meta charset="UTF-8">
    <!--RESPONSIVE-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--ICONES-->
    <script src="https://kit.fontawesome.com/6ef412e734.js" crossorigin="anonymous"></script>
    <!--FONTS-->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,700&display=swap');
    </style>
    <!--FAVICON -->
    <link rel="shortcut icon" href="/assets/images/download.png" />
    <!--STYLE-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
     <script src="/assets/js/three.r119.min.js"></script>
    <script src="/assets/js/vanta.net.js"></script>
    {{!--
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script> --}}

    <link rel="preload" as="image"
        href="https://images.pexels.com/photos/601798/pexels-photo-601798.jpeg?cs=srgb&dl=pexels-neosiam-601798.jpg&fm=jpg">

    <link rel="stylesheet" href="/assets/css/style.css">

    <link rel="stylesheet" href="/assets/css/body.css">


<style>
/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0px 0px 10px 10px;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #212529; 
  border-radius:  ;

}

::-webkit-scrollbar-track-piece {
    background: #0275d8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #162633; 
}
</style>
    <!--TITRE BARRE DE NAVIGATION-->
    <title>Inf0-sec</title>
</head>
<!--/HEAD-->
{{!-- DEBUT DU BODY --}}

<body class="text-primary">