{{!-- HEAD --}}
<!DOCTYPE html>
{{!-- LANGUAGE --}}
<html lang="fr">
{{!-- DEBUT CONTENU HEAD --}}

<head>
  <!--ENCODAGE-->
  <meta charset="utf-8">
  <!--RESPONSIVE-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--FAVICON -->
  <link rel="shortcut icon" href="/assets/images/download.png" />

  <!--STYLE-->
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/other.css">

 <!--RESPONSIVE-->

  <!--TITRE BARRE DE NAVIGATION-->
  {{#if admin }}
  <title>Inf0-sec ADMIN</title>
  {{/if}}
  <title>Inf0-sec</title>
</head>
<!--/HEAD-->


{{!-- DEBUT DU BODY --}}
<body class="text-primary">



  {{!-- //
  $$$$$$$\ $$$$$$\ $$$$$$$\ $$$$$$$$\ $$$$$$\
  $$ __$$\ $$ __$$\ $$ __$$\\__$$ __|$$ __$$\
  $$ | $$ |$$ / \__|$$ | $$ | $$ | $$ / \__|
  $$$$$$$\ |$$ |$$$$\ $$ | $$ | $$ | $$ |
  $$ __$$\ $$ |\_$$ |$$ | $$ | $$ | $$ |
  $$ | $$ |$$ | $$ |$$ | $$ | $$ | $$ | $$\
  $$$$$$$ |\$$$$$$ |$$$$$$$ | $$ | \$$$$$$ |
  \_______/ \______/ \_______/ \__| \______/

  --}}