{{!-- HEAD --}}
<!DOCTYPE html>
{{!-- LANGUAGE --}}
<html lang="en">
{{!-- DEBUT CONTENU HEAD --}}

<head>
  <!--ENCODAGE-->
  <meta charset="utf-8">
  <!--RESPONSIVE-->

 {{!-- <meta http-equiv="Content-Security-Policy: default-src * 'self' data: 'unsafe-inline' 'unsafe-hashes' 'unsafe-eval'; script-src *; script-src-elem *; style-src *" /> --}}

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--FONTS-->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,700&display=swap');
  </style>
  <!--FAVICON -->
  <link rel="shortcut icon" href="/assets/images/download.png" />
  <!--STYLE-->
    {{!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> 
     --}}
    <link rel="stylesheet" href="/assets/css/style.css">

    
  <style>
    @charset "UTF-8";

    @media screen and (max-width: 640px) {
      .test {
        font-size: 10px;

      }

      .test1 {
        height: 100px;
      }
    }

    /* width */
    ::-webkit-scrollbar {
      width: 13px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 5px 5px 10px 10px;


    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: rgb(21, 108, 179);
      border-radius: ;
    }

    ::-webkit-scrollbar-track-piece {
      background: #212529;
      border-width: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #162633;
    }
  </style>

  {{!--  --}}
  <!--TITRE BARRE DE NAVIGATION-->
  {{#if admin }}
  <title>Inf0-sec ADMIN</title>
  {{/if}}
  <title>Inf0-sec</title>
</head>
<!--/HEAD-->
{{!-- DEBUT DU BODY --}}

<body class="text-primary">



{{!-- //
   $$$$$$$\   $$$$$$\  $$$$$$$\ $$$$$$$$\  $$$$$$\  
   $$  __$$\ $$  __$$\ $$  __$$\\__$$  __|$$  __$$\ 
   $$ |  $$ |$$ /  \__|$$ |  $$ |  $$ |   $$ /  \__|
   $$$$$$$\ |$$ |$$$$\ $$ |  $$ |  $$ |   $$ |      
   $$  __$$\ $$ |\_$$ |$$ |  $$ |  $$ |   $$ |      
   $$ |  $$ |$$ |  $$ |$$ |  $$ |  $$ |   $$ |  $$\ 
   $$$$$$$  |\$$$$$$  |$$$$$$$  |  $$ |   \$$$$$$  |
   \_______/  \______/ \_______/   \__|    \______/ 
                                                 
              --}}