<div class="container">
  <nav class="navbar navbar-expand-lg  fixed-top bg-gradient">
    <div class="container-fluid">
      <i class="fas fa-ankh fs-2 "></i>
       <a href="/" class=" nav-item nav-link text-white border-end border-2 shadow bg-transparent rounded-pill border-primary">Home</a>
       <a href="/contact" class="nav-item nav-link text-white">Contact</a>
       <a href="http://192.168.1.83:5000/" class="nav-item nav-link text-white">*Blog*</a>
       <select class=" nav-item bg-transparent nav-link  border-primary  text-white   rounded-pill fw-bolder">
                <option>French</option>
                <option>Russian</option>
                <option>Portuguese</option>
            </select>

            <a class=" btn text-white   rounded-pill fw-bolder
                     border border-primary  " href="/signup">Signup</a>
    </div>
    
  </nav>
</div>