{{!-- NAVBAR --}}
<nav class="navbar bg-dark navbar-expand-md border-bottom border-primary fixed-top  pb-1">
  <div class=" container-fluid">
    {{!-- ICONE DE SITE HREF HOME --}}
    <a href="/" >
    <i class="fas fa-ankh  fs-2 pe-2 pb-1 ps-2" ></i>
    </a>
    {{!-- TITRE NAVBAR --}}
    <h6 class="pe-5 text-center">News_inf0-sec</h6>
    {{!-- BOUTON COLLAPSE --}}
    <button
      class="fs-6 navbar-toggler bg-primary rounded"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon rounded btn-sm"></span>
    </button>
    {{!-- BOUTONS DE LA NAVBAR --}}
    <div class="collapse navbar-collapse pe-2" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{!-- BOUTON ACCUEIL --}}
        <li class="nav-item border-2 border-primary pe-2 pt-1">
          <a
            class="nav-link active  border-2 ps-1  text-white"
            aria-current="page"
            href="/"
          >Accueil</a>
        </li>
        {{!-- BOUTON CONTACT --}}
        <li class="nav-item pe-2 pt-1">
          <a class="nav-link   text-white ps-1" href="/contact">Contact</a>
        </li>
        {{!-- BOUTON AVIS --}}
        <li class="nav-item pe-2 pt-1">
          <a
            class="nav-link text-white ps-1"
            href="/avis"
          >Avis</a>
        </li>
        {{!-- BOUTON BLOG --}}
        <li class="nav-item pe-2 pt-1">
          <a class="nav-link text-white ps-1" href="/blog">*Blog*</a>
        </li>
      </ul>
      {{!-- SELECTEUR DE LANGUE --}}
      <div class="pe-2 pt-1">
        <select
          class="pe-2 nav-item bg-transparent nav-link border-primary border-2 text-white pe-2 rounded-pill fw-bolder"
        >
          <option>Français</option>
          <option>русский</option>
          <option>Portuguese</option>
        </select>

      </div>
      {{!-- BOUTON INSCRIPTION --}}
      <div class="pe-2 pt-1">
        <a
          class="pe-3 ps-2 btn text-white rounded-pill fw-bolder border-2 border-primary"
          href="/auth"
        >S'inscrire   </a>
      </div>

    </div>
  </div>
</nav>

<script>
  import { mdiAbacus } from '@mdi/js';
</script>