<!--navbar-->
<nav class="navbar navbar-expand navbar-dark bg-gradient  w-auto fixed-top border-bottom border-primary">
    <div class="container-fluid">
        <div class="navbar-nav">
            <i class="fas fa-ankh fs-2 pt-1 pe-3" id="ii"></i>
            <a href="#home" class="nav-item nav-link text-white border-end border-2 shadow bg-transparent rounded-pill border-primary">Home</a>
            <a href="#formulaire" class="nav-item nav-link text-white">Messages</a>
            <a href="http://192.168.1.83:5000/" class="nav-item nav-link text-white">Archi-Node</a>
        </div>
        <div class="navbar-nav">
            <select class="nav-item text-blue bg-transparent nav-link  border-primary text-white mb-1  rounded-pill fw-bolder">
                <option>French</option>
                <option>Russian</option>
                <option>Portuguese</option>
            </select>

            <a class="d-inline-block btn text-white mb-1 ms-4  rounded-pill fw-bolder
                     border border-primary  " href="/signup">Signup</a>

        </div>

    </div>
</nav>
