<!--FORM-->
<section class="famille-produits" id="formulaire">
    <div class="container fw-bold">
        <h2 class="text-center fw-bolder text-white pt-3 pb-2">Contact Us !</h2>
        <form action="" class="row g-3 border border-primary rounded">
            <div class="col-md-6 mt-5">
                <label for="EmailIn" class="form-label text-white">Email:</label>
                <input type="email" class="form-control bgbg text-info" id="EmailIn" required>
            </div>
            <div class="col-md-6 mt-5">
                <label for="NameIn" class="form-label text-white">Name:</label>
                <input type="text" class="form-control bgbg text-info" id="NameIn" required>
            </div>
            <div class="col-12 mt-3">
                <label for="SubjectIn" class="form-label text-white">Subject:</label>
                <input type="text" class="form-control bgbg text-info" id="SubjectIn" required>
            </div>
            <div class="col-12 mb-3">
                <label for="MessageIn" class="form-label text-white">Message:</label>
                <textarea name="" class="form-control bgbg text-info" id="MessageIn" cols="30" rows="10"
                    required></textarea>
            </div>
            <div class="col-12 mb-2">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="gridCheck" required>
                    <label for="gridCheck" class="form-check-label text-white">
                        I accept GTU !
                    </label>
                </div>
            </div>
            <div class="col-12 mb-3">
                <button type="submit" class="btn btn-primary fw-bolder text-white">Send</button>
            </div>

    </div>

    </form>
</section>