<section class="bg-gradient container-fluid pt-5 pb-2  border-primary">
    <div class="card container pb-4 border border-primary bg-gradient pt-5">
  <div class="row">
    <div class="col-md-4">
      <img src="/assets/images/ankh-solid.png" class="pt-5" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Qui suis-je ? </h5>
        <p class="card-text">Description plus poussée du site blablablablablablablablablablablablaite blablablablablablablablablablablablablite blablablablablablablablablablablablablite blablablablablablablablablablablablablite blablablablablablablablablablablablablite blablablablablablablablablablablablablite blablablablablablablablablablablablablbla</p>
        <p class="card-text"><small class="text-muted">Copyright 2021 - machin machin</small></p>
      </div>
    </div>
  </div>
</div>
</section>
