<div class="card container pt-5 bg-white ">
  <div class="row pt-5">
    <div class="col-md-4">
      <img src="/assets/images/sylvie.jpg" class="rounded-pill ps-3" style="height: 200px;" alt="...">
    </div>
    <div class="col-md-8 pt-5">
      <div class="card-body">
        <h5 class="card-title">Qui suis-je ? </h5>
        <p class="card-text">Description plus poussée du site blablablablablablablablablablablablaite
          blablablablablablablablablablablablablite blablablablablablablablablablablablablite
          blablablablablablablablablablablablablite blablablablablablablablablablablablablite
          blablablablablablablablablablablablablite blablablablablablablablablablablablablbla</p>
        <p class="card-text"><small class="text-muted">Copyright 2021 - machin machin</small></p>
      </div>
    </div>
  </div>
</div>