<div class="container pt-5">
  <h2 class="pt-5 text-center">Contact</h2>
  <div class="card pt-5">
    <div class=" row pt-5">
      <div class="col-md-4 pt-5">
        <img src="/assets/images/sylvie.jpg" class="rounded-pill ps-2" style="height: 200px;" alt="...">
      </div>
      <div class="col-md-8  pt-5 d-flex justify-content-center">
        <div class="card-body pt-5">
          <h5 class="card-title text-center">Qui suis-je ? </h5>
          {{!-- <p class="card-text text-center">Description plus poussée du site blablablablablablablablablablablablaite
            blablablablablablablablablablablablablite blablablablablablablablablablablablablite
            blablablablablablablablablablablablablite blablablablablablablablablablablablablite
            blablablablablablablablablablablablablite blablablablablablablablablablablablablbla</p>
          <p class="card-text"><small class="text-muted">Copyright 2021 - machin machin</small></p> --}}
        </div>
      </div>
    </div>
  </div>
</div>