<section class="bg-gradient pt-5 pb-2 border-bottom border-primary ">
    <div class="card bg-gradient pt-5">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/assets/images/ankh-solid.png" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Qui suis-je ? </h5>
        <p class="card-text">Description plus poussée du site blablablablablablablablablablablablaite blablablablablablablablablablablablablite blablablablablablablablablablablablablite blablablablablablablablablablablablablite blablablablablablablablablablablablablite blablablablablablablablablablablablablite blablablablablablablablablablablablablbla</p>
        <p class="card-text"><small class="text-muted">Copyright 2021 - machin machin</small></p>
      </div>
    </div>
  </div>
</div>
</section>
