<div class="container  pt-5">
  <div class="card text-center pt-5 mt-5" >
    <div class="row g-0 ">
      <div class="col-md-4">
        {{!-- <img src="" class="img-fluid rounded-start" alt="..."> --}}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><span class="h4 fw-bold">QUI</span> suis-je ?</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>



{{!-- //
$$$$$$$\ $$$$$$\ $$$$$$$\ $$$$$$$$\ $$$$$$\
$$ __$$\ $$ __$$\ $$ __$$\\__$$ __|$$ __$$\
$$ | $$ |$$ / \__|$$ | $$ | $$ | $$ / \__|
$$$$$$$\ |$$ |$$$$\ $$ | $$ | $$ | $$ |
$$ __$$\ $$ |\_$$ |$$ | $$ | $$ | $$ |
$$ | $$ |$$ | $$ |$$ | $$ | $$ | $$ | $$\
$$$$$$$ |\$$$$$$ |$$$$$$$ | $$ | \$$$$$$ |
\_______/ \______/ \_______/ \__| \______/

--}}