{{!-- HEAD SCRIPTS ETC --}}

{{> head }}
{{!-- NAVBAR COMMUNE --}}
{{> navbar }}

{{> cookies/banner }}




{{!-- Req.flash --}}
{{#if error}}
<div style="margin-top: 10vh" class="w-100 text-center"> {{ error }} </div>
{{/if}}
{{#if success}}
<div style="margin-top: 10vh" class="w-100 text-center"> {{ success }} </div>
{{/if}}
{{!-- DEBUT DE BODY --}}
{{{ body }}}

{{!-- FOOTER COMMUN --}}
{{> Footer }}
{{!-- FERMETURE DE BODY HTML ET SCRIPTS BAS DE PAGE --}}
{{> end }}


{{!-- //
   $$$$$$$\   $$$$$$\  $$$$$$$\ $$$$$$$$\  $$$$$$\  
   $$  __$$\ $$  __$$\ $$  __$$\\__$$  __|$$  __$$\ 
   $$ |  $$ |$$ /  \__|$$ |  $$ |  $$ |   $$ /  \__|
   $$$$$$$\ |$$ |$$$$\ $$ |  $$ |  $$ |   $$ |      
   $$  __$$\ $$ |\_$$ |$$ |  $$ |  $$ |   $$ |      
   $$ |  $$ |$$ |  $$ |$$ |  $$ |  $$ |   $$ |  $$\ 
   $$$$$$$  |\$$$$$$  |$$$$$$$  |  $$ |   \$$$$$$  |
   \_______/  \______/ \_______/   \__|    \______/ 
                                                 
              --}}