<!--3 CARDS-->

<section class="famille-produits">
    <div class="container">

        <div class="row">
            <div class="col-md-12">

                <h2 class="text-center text-white fw-bolder ">Les derniers articles !</h2>
                <p class="text-center fw-bolder text-decoration-underline">Le meilleur de la sécurité rien que pour vous !</p>
            </div>
        </div>

        <div class="row text-center">

            <!--card-1-->
            <div class="col-md-4 pb-4">
                <div class="card h-auto w-auto  d-block">
                    <img src="/assets/images/ankh-solid.svg" class="card-img-top" alt="...">
                    <div class="card-body bg-gradient">
                        <p class="card-text text-white">
Exemple de description d'article
                        </p>
                    </div>
                </div>
            </div>

            <!--card-2-->
            <div class="col-md-4 pb-4">
                <div class="card h-auto w-auto d-block">
                    <img src="/assets/images/ankh-solid.svg" class="card-img-top" alt="aggent">
                    <div class="card-body bg-gradient">
                        <p class="card-text text-white">
                                 Exemple de description d'article
                            </p>
                    </div>
                </div>
            </div>

            <!--card-3-->
            <div class="col-md-4 pb-4">

                <div class="card h-auto w-auto d-block">
                    <img src="/assets/images/ankh-solid.svg" class="card-img-top" alt="...">
                    <div class="card-body bg-gradient">
                        <p class="card-text text-white">
                               Exemple de description d'article  
                        </p>
                    </div>
                </div>


            </div>



        </div>


    </div>


    </div>

</section>