<!--3 CARDS-->

<section class="famille-produits">
    <div class="container">

        <div class="row">
            <div class="col-md-12">

                <h2 class="text-center  fw-bolder text-decoration-underline">Nos Solutions Entreprise</h2>
                <p class="text-center fw-bolder text-white">Le meilleur de la sécurité rien que pour vous !</p>
            </div>
        </div>

        <div class="row text-center">

            <!--card-1-->
            <div class="col-md-4 mb-4">
                <div class="card h-auto w-auto  d-block">
                    <img src="/assets/images/bleu.jpg" class="card-img-top" alt="...">
                    <div class="card-body font-monospace bg-gradient">
                        <p class="card-text text-white-50">Service Assuré contre les incendies grâce à des extincteur.
                        </p>
                    </div>
                </div>
            </div>

            <!--card-2-->
            <div class="col-md-4 mb-4">
                <div class="card h-auto w-auto d-block">
                    <img src="/assets/images/agent.jpg" class="card-img-top" alt="aggent">
                    <div class="card-body font-monospace bg-gradient">
                        <p class="card-text text-white-50">Des professionels qualifiés pour la non mise en place de vos
                            serveurs.</p>
                    </div>
                </div>
            </div>

            <!--card-3-->
            <div class="col-md-4 mb-4">

                <div class="card h-auto w-auto d-block">
                    <img src="/assets/images/lowcost.jpg" class="card-img-top" alt="...">
                    <div class="card-body font-monospace bg-gradient">
                        <p class="card-text text-white-50">Un prix défiant toute concurrence, en effet c'est gratuit !
                        </p>
                    </div>
                </div>


            </div>



        </div>


    </div>


    </div>

</section>