<section class="famille-produits container-fluid pt-5">
  <div class="container pb-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col-md-12">
        <h3
          class="tist text-center bg-gradient fw-bold rounded text-decoration-underline"
        >Articles récents</h3>
        <div class="alert alert-danger" role="alert">
          Seuls les
          <a href="/auth" class="alert-link">utilisateurs connectés</a>
          peuvent accéder aux articles complets.
        </div>
      </div>

      <div class="col">
        <div class="card tist bg-gradient h-100">
          <img
            src="../assets/images/ankh-solid.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text text-white">This is a wider card with supporting
              text below as a natural lead-in to additional content. This
              content is a little bit longer.</p>
          </div>
          <div class="text-center">
            <span class="badge btn bg-primary text-muted w-50"><a
                class="text-muted"
                href="/id"
              >Lire la suite...</a></span>
          </div>

          <div class="card-footer">
            <small class="text-muted">Mis en ligne le ??/??/????</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card tist bg-gradient h-100">
          <img
            src="../assets/images/ankh-solid.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text text-white">This card has supporting text below
              as a natural lead-in to additional content.</p>
          </div>
          <div class="text-center">
            <span class="badge btn bg-primary text-muted w-50"><a
                class="text-muted"
                href="/id"
              >Lire la suite...</a></span>
          </div>

          <div class="card-footer">
            <small class="text-muted">Mis en ligne le ??/??/????</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card tist bg-gradient h-100">
          <img
            src="../assets/images/ankh-solid.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text text-white">This is a wider card with supporting
              text below as a natural lead-in to additional content. This card
              has even longer content than the first to show that equal height
              action.</p>
          </div>
          <div class="text-center">
            <span class="badge btn bg-primary text-muted w-50"><a
                class="text-muted"
                href="/id"
              >Lire la suite...</a></span>
          </div>
          <div class="card-footer">
            <small class="text-muted">Mis en ligne le ??/??/????</small>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>