{{!-- HEADER PAGE D'ACCUEIL --}}
<section class="bg-gradient pt-5">
  <header id="vantajs">
    <div class="container pt-5 pb-1  tist">
      {{!-- TITRES SITE --}}
      <div>
        {{!-- TITRE DU SITE --}}
        <h1 id="ven" class="fw-bold text-dark">New's Inf0
          <span class="text-primary fw-bold">SEC</span>
        </h1>
        {{!-- SOUS TITRE ET DESCRIPTION --}}
        <h2 id="jeu" class="text-decoration-underline  h5 text-wrap">Actualités cybersécurité</h2>
        <p class="text-dark fw-bold pt-2">Retrouvez toutes l'actualités
          concernant les failles de sécurités !</p>
      </div>
      {{!-- DESCRIPTION PLUS COMPLETE --}}
      <div class="d-flex justify-content-end">
        <p class="test text-dark fw-bold ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
          esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim id est laborum.</p>
        <img class="bg-dark rounded-pill" height="130px" src="../assets/images/bleu.jpg" alt="" />

      </div>
      {{!-- AUTRE TEXTE --}}
      <p class="text-dark test fw-bold">quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.



      </p>

    </div>
  </header>
</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.topology.min.js"></script>

<script>

  VANTA.TOPOLOGY({
    el: "#vantajs",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.00,
    minWidth: 200.00,
    scale: 1.00,
    scaleMobile: 1.00,
    color: 0x1762c5,
    backgroundColor: 0xffffff
  })
</script>

<style>
  #vantajs>canvas {
    width: 100% !important;
    height: 15vh !important;
  }

  #ven,
  #jeu {
    text-shadow: 0 0 3px #fcfcfc, 0 0 5px #0000FF;
  }
</style>