{{!-- HEADER PAGE D'ACCUEIL --}}
<section class="bg-gradient pt-5">
  <canvas class="fixed" id="q">
    
  </canvas>
  <header id="f">
    
    <div class="container pt-5 pb-1  tist">
      {{!-- TITRES SITE --}}
      <div class="">
        {{!-- TITRE DU SITE --}}
        <h1 id="ven" class="fw-bold text-dark">New's Inf0
          <span class="text-primary fw-bold">SEC</span>
        </h1>
        {{!-- SOUS TITRE ET DESCRIPTION --}}
        <div class=" p-5 ">
          <div class="pt-5">
            <h2 id="jeu" class="text-decoration-underline pt-2  h5 text-wrap">Actualités cybersécurité</h2>
            <p class="text-dark fw-bold pt-5">Retrouvez toute l'actualité
              concernant les failles de sécurités !</p>
          </div>
          {{!-- DESCRIPTION PLUS COMPLETE --}}
          <div class="d-flex justify-content-end">
            <p class=" text-dark fw-bold ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
              ullamco
              laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
              esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
              qui
              officia deserunt mollit anim id est laborum.</p>
            <img class="bg-dark rounded-pill" height="130px" src="../assets/images/bleu.jpg" alt="" />
          </div>
          {{!-- AUTRE TEXTE --}}
          <p class="text-dark  fw-bold">quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
            est
            laborum.
          </p>
        </div>
      </div>
    </div>
  </header>
</section>



<script src="/assets/js/canvas.js"></script>


 



{{!-- //
$$$$$$$\ $$$$$$\ $$$$$$$\ $$$$$$$$\ $$$$$$\
$$ __$$\ $$ __$$\ $$ __$$\\__$$ __|$$ __$$\
$$ | $$ |$$ / \__|$$ | $$ | $$ | $$ / \__|
$$$$$$$\ |$$ |$$$$\ $$ | $$ | $$ | $$ |
$$ __$$\ $$ |\_$$ |$$ | $$ | $$ | $$ |
$$ | $$ |$$ | $$ |$$ | $$ | $$ | $$ | $$\
$$$$$$$ |\$$$$$$ |$$$$$$$ | $$ | \$$$$$$ |
\_______/ \______/ \_______/ \__| \______/

--}}