{{!-- PAGE LOST PASSWORD --}}
<div class="container pt-5">
    {{ message }}

    <h2 class="pt-5 pb-3">Renseignez votre nouveau mot de passe :</h2>
    <div class="pb-2">
        <form id="form" onsubmit="checkForm(event)" action="/editPassword/{{ mailOptions.rand }}" method="POST">
            <div class="pb-3">
                <input type="email" name="email" value='{{ mailOptions.to }}' id="email">
                <input type="password" name="password" id="passwordEditPassword" placeholder="Password" required>
                <input type="password" class="" name="passwordConfirm" id="passwordConfirm"
                    placeholder="Confirmez password" required>
            </div>

            <button class="btn btn-primary">Envoyer</button>
        </form>
    </div>

</div>


{{!-- REGEX FORMULAIRE --}}
<script>
    //RÉCUPERATION INPUT ET FORM
    const form = document.getElementById('form');
    const input = document.getElementsByTagName('input');

    function checkForm(event) {
        event.preventDefault()
        // RÉCUPERATION DE LA REGEX ET DES INPUT PASSWORD ET PASS CONFIRM
        const pass = document.getElementById('passwordEditPassword').value;
        const passConfirm = document.getElementById('passwordConfirm').value;
        const flash = document.getElementById('flash');
        const regex = /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,}$/;
        //SI LE MOT DE PASSE NE RENTRE PAS DANS LA REGEX
        if (!pass.match(regex)) {
            // Gestion du flash (error)
            flash.style.color = 'red';
            flash.innerText = 'Le mot de passe ne respect pas la chartes !';
            //SI LES MOTS DE PASSES NE SONT PAS IDENTIQUES
        } else if (pass !== passConfirm) {
            // Gestion du flash (error)
            flash.style.color = 'red';
            flash.innerText = 'Les mots de passe ne sont pas identique !';
            //SI TOUT EST OK ON ENVOIE LE FORMULAIRE
        } else if (pass.match(regex) && pass === passConfirm) {
            // C'est ici que le formulaire s'envoie
            form.submit();
        }


    }
</script>



{{!-- //
   $$$$$$$\   $$$$$$\  $$$$$$$\ $$$$$$$$\  $$$$$$\  
   $$  __$$\ $$  __$$\ $$  __$$\\__$$  __|$$  __$$\ 
   $$ |  $$ |$$ /  \__|$$ |  $$ |  $$ |   $$ /  \__|
   $$$$$$$\ |$$ |$$$$\ $$ |  $$ |  $$ |   $$ |      
   $$  __$$\ $$ |\_$$ |$$ |  $$ |  $$ |   $$ |      
   $$ |  $$ |$$ |  $$ |$$ |  $$ |  $$ |   $$ |  $$\ 
   $$$$$$$  |\$$$$$$  |$$$$$$$  |  $$ |   \$$$$$$  |
   \_______/  \______/ \_______/   \__|    \______/ 
                                                 
              --}}