<!-- Modal -->
<div class="modal fade" id="modalDeleteComment{{ comment.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Suppression commentaire/avis</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-dark">
                Êtes vous sur de vouloir supprimer cet Avis/Commentaire ?
                {{ comment.id }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Non</button>
                <form action="/comment/{{ comment.id }}?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger">Oui</button>
                </form>

            </div>
        </div>
    </div>
</div>