<section class="pt-5 sticky-top  ">
    <div class="pt-5 container  d-flex justify-content-center ">
        <div class=" pt-5 df align-items-center    w-75   card p-5  text-center">
            <img src="/assets/images/cookie.png" width="50">
            <span class="mt-2">nous utilisons les cookies pour
                personaliser le contenu, les publicités et pour analyser le traffic sur ce site.
            </span>
            <a class="d-flex align-items-center" href="#">En savoir plus
                <i class="fa fa-angle-right ml-2">
                </i>
            </a>
            <button class="btn btn-dark mt-4  px-4" type="button">J'accepte les cookies
            </button>
        </div>

    </div>

</section>

<style>
.df {
    background-color: rgb(255, 252, 239);
}
</style>