<header class="backsignup lh-lg h-auto">
    <!--titre formulaire-->
    <div class="container pt-5 w-50 pb-5">
        <div class="row">
            <div class="col-md-12 mb-5 text-center pe-4 ps-1">
                <h2
                    class="shadow-lg rounded text-center h-100 pt-5 text-primary fw-bold text-decoration-underline border border-primary mt-5 border-1 bg-gradient fs-1">
                    Signup For Free</h2>
            </div>
        </div>
    </div>
    <!--formulaire-->
    <div class="container pb-5 w-50">
        <form action=""
            class="w-100 text-center  shadow-lg row text-primary fw-bold border border-primary  mt-5 rounded bg-gradient">
            <div class="col-md-12 mt-3">
                <label for="EmailIn" class="form-label">Email:</label>
                <input type="email" class="shadow-lg form-control bgbg text-info" id="EmailIn" required>
            </div>
            <div class="col-md-6 mt-3">
                <label for="NameIn" class="form-label">Name:</label>
                <input type="text" class="shadow-lg form-control bgbg text-info" id="NameIn" required>
            </div>
            <div class="col-md-6 mt-3">
                <label for="NicknameIn" class="form-label">Nickname:</label>
                <input type="text" class="shadow-lg form-control bgbg text-info" id="NicknameIn" required>
            </div>
            <div class="col-md-6 mt-3">
                <label for="PasswordIn" class="form-label">Password:</label>
                <input type="password" class="shadow-lg form-control bgbg text-info" id="PasswordIn" required>
            </div>
            <div class="col-md-6 mt-3">
                <label for="PassowordIn2" class="form-label">Retype-Password:</label>
                <input type="password" class="shadow-lg form-control bgbg text-info" id="PassowordIn2" required>
            </div>
            <div class="col-md-12 mt-4 w-50 text-center">
                <label for="Select1" class="form-label">Birthdate:</label>
                <input type="datetime-local" name="datetime-local" id="Datenow"
                    class="shadow-lg w-100 text-center bg-primary text-dark border border-dark " required>
            </div>
            <div class="col-12 mb-2">
                <div class="form-check pb-2 pt-2">
                    <input type="checkbox" class="form-check-input" id="gridCheck" required>
                    <label for="gridCheck" class="shadow-lg form-check-label">
                        I accept GTU !
                    </label>
                </div>
            </div>
            <div class="col-12 mb-3">
                <button type="submit" class="btn btn-primary fw-bolder text-white">Send</button>
            </div>
        </form>

    </div>
    <!--offcanvas-->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header bg-info">
            <h5 id="offcanvasRightLabel">Sign In</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="bg-gradient offcanvas-body">
            <div class="container pb-5 w-100 ps-5 text-center">
                <form action=""
                    class="w-100 text-center  shadow-lg row text-primary fw-bold border border-primary  mt-5 rounded bg-gradient">
                    <div class="col-md-12 mt-3">
                        <label for="EmailIn" class="form-label">Email:</label>
                        <input type="email" class="shadow-lg form-control bgbg text-info" id="EmailIn" required>
                    </div>
                    <div class="col-md-12 mt-3">
                        <label for="PasswordIn" class="form-label">Password:</label>
                        <input type="password" class="shadow-lg form-control bgbg text-info" id="PasswordIn" required>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3 pt-2">
                            <button type="submit" class="btn btn-primary fw-bolder text-white">Send</button>
                        </div>
                        <div class="col-md-12">
                            <a href="lost_password.html" class="text-center">i've lost my password</a>

                        </div>
                    </div>
                </form>

            </div>


        </div>
    </div>


</header>