<nav class="navbar navbar-expand navbar-dark bg-gradient fixed-top mb-5 w-auto">
    <div class="container-fluid">
        <div class="navbar-nav">
            <i class="fas fa-ankh fs-2 text-primary pt-2 pe-2"></i>
            <a href="/" class="nav-item nav-link">Home</a>
            <a href="/#formulaire" class="nav-item nav-link">Messages</a>
        </div>
        <div class="navbar-nav">
            <select class="nav-item nav-link rounded-pill fw-bolder mb-1 ms-2">
                <option>French</option>
                <option>Russian</option>
                <option>Portuguese</option>
            </select>


            <button class="btn btn-primary d-inline-block btn text-white mb-1 ms-2 rounded-pill fw-bolder
                    bg-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight">Login</button>


        </div>

    </div>
</nav>