{{!-- SECTION AVIS --}}
<div class="container  pt-5">
  <div class=" pt-5 pb-3 d-flex row justify-content-around">
    {{!-- TITRE PAGE AVIS --}}
    <h1 class="text-center">Avis</h1>
    {{!-- AVIS --}}
    {{#each dbAvis}}
    <div class="row d-flex justify-content-center">
      <div class="card  text-white bg-primary mb-3" style="max-width: 43rem;">
        <div class="card-header text-warning fw-bold">écrit par: <span class="text-white fw-bold">{{ this.author_name }}</span>  <span class=" d-flex text-dark justify-content-end">publié le
            {{
            this.update_date }}</span>
        </div>
        <div class="card-body">
          <h2 class="h5 card-title">{{ this.title }}</h2>
          <p class="card-text">{{ this.content }}</p>
        </div>
      </div>
    </div>

    {{/each}}
  </div>
</div>


{{!-- //
$$$$$$$\ $$$$$$\ $$$$$$$\ $$$$$$$$\ $$$$$$\
$$ __$$\ $$ __$$\ $$ __$$\\__$$ __|$$ __$$\
$$ | $$ |$$ / \__|$$ | $$ | $$ | $$ / \__|
$$$$$$$\ |$$ |$$$$\ $$ | $$ | $$ | $$ |
$$ __$$\ $$ |\_$$ |$$ | $$ | $$ | $$ |
$$ | $$ |$$ | $$ |$$ | $$ | $$ | $$ | $$\
$$$$$$$ |\$$$$$$ |$$$$$$$ | $$ | \$$$$$$ |
\_______/ \______/ \_______/ \__| \______/

--}}