{{!-- FORMULAIRE POST AVIS --}}
<section class="bg-gradient pb-5 container-fluid">
    <div class="container pb-5">
         {{#if user}}
        <form action="/avis" method="POST" class=" pt-3  row  border-3 ">
            <div class="col-12 pb-5">
                <label for="title" class="form-label text-primary fw-bold">Le titre de votre avis:</label>
                <input type="text" class="form-control bg-dark text-primary" style="width: 250px;" name="title"
                    id="title">
                <label for="avis" class="form-label text-primary fw-bold">Votre Avis:</label>
                <textarea name="content" class="form-control bg-dark text-primary" id="avis" cols="30" rows="10"
                    required></textarea>
            </div>
            <div class="col-6 pt-2">
                <div class="form-check pb-2">
                    <input type="checkbox" class="pb-2 form-check-input " id="check" required>
                    <label for="check" class="form-check-label text-dark">
                        J'accepte les <span class="text-primary"><a href="/">CGU</a></span> !
                    </label>
                </div>
            </div>
           
            <div class="col-6 d-flex justify-content-end pt-2 pb-4">
                <button type="submit" class="btn bg-dark  fw-bolder text-white">Envoyer</button>
            </div>
            {{else}}
            <div class="alert alert-danger" role="alert">
                Seuls les <a href="/auth" class="alert-link">utilisateurs connectés</a> peuvent poster un avis.
            </div>
            {{/if}}

        </form>

    </div>




</section>



{{!-- //
   $$$$$$$\   $$$$$$\  $$$$$$$\ $$$$$$$$\  $$$$$$\  
   $$  __$$\ $$  __$$\ $$  __$$\\__$$  __|$$  __$$\ 
   $$ |  $$ |$$ /  \__|$$ |  $$ |  $$ |   $$ /  \__|
   $$$$$$$\ |$$ |$$$$\ $$ |  $$ |  $$ |   $$ |      
   $$  __$$\ $$ |\_$$ |$$ |  $$ |  $$ |   $$ |      
   $$ |  $$ |$$ |  $$ |$$ |  $$ |  $$ |   $$ |  $$\ 
   $$$$$$$  |\$$$$$$  |$$$$$$$  |  $$ |   \$$$$$$  |
   \_______/  \______/ \_______/   \__|    \______/ 
                                                 
              --}}