 <section class="bg-gradient">
     <div class="container">
<form action="" class=" pt-3  row pe-2 border-3 ">
            <div class="col-12 ">
                <label for="MessageIn" class="form-label text-white">Votre Avis:</label>
                <textarea name="" class="form-control bg-gradient text-primary" id="message" cols="30" rows="10"
                    required></textarea>
            </div>
            <div class="col-6 pt-2">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input " id="check" required>
                    <label for="gridCheck" class="form-check-label text-white">
                        J'accepte les <span class="text-primary"><a href="/">CGU</a></span> !
                    </label>
                </div>
            </div>
            
            <div class="col-12 d-flex justify-content-end pb-2">
                <button type="submit" class="btn bg-gradient  fw-bolder text-white">Envoyer</button>
            </div>

    </div>

    </form>
     </div>

 </section>
  