 <section class="bg-gradient container-fluid">
     <div class="container">
<form action="" class=" pt-3  row  border-3 ">
            <div class="col-12">
                <label for="MessageIn" class="form-label text-white">Votre Avis:</label>
                <textarea name="" class="form-control bg-gradient text-primary" id="message" cols="30" rows="10"
                    required></textarea>
            </div>
            <div class="col-6 pt-2">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input " id="check" required>
                    <label for="gridCheck" class="form-check-label text-white">
                        J'accepte les <span class="text-primary"><a href="/">CGU</a></span> !
                    </label>
                </div>
            </div>
  
            <div class="col-6 d-flex justify-content-end pt-2 pb-4">
                <button type="submit" class="btn bg-gradient  fw-bolder text-white">Envoyer</button>
            </div>
                      <div class="alert alert-danger" role="alert">
  Seuls les <a href="/auth" class="alert-link">utilisateurs connectés</a>  peuvent poster un avis.
</div>

    </div>

    </form>
     </div>

 </section>
  