{{!-- FORMULAIRES DE CONNEXION / INSCRIPTION / MOT DE PASSE OUBLIE --}}

<section class="pt-5 container-fluid bg-dark" style="height: 100vh;">

  {{! TABS AUTH }}
  <ul class="nav nav-tabs d-flex justify-content-center  container pb-3 ps-3 pt-5" id="myTab" role="tablist">
    {{!-- BOUTON CONNEXION --}}
    <li class="nav-item pt-2 ps-2 pe-2" role="presentation">
      <button class="nav-link text-primary border-2 border-primary active bg-gradient" id="home-tab"
        data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home"
        aria-selected="true">Connexion</button>
    </li>
    {{!-- BOUTON INSCRIPTION --}}
    <li class="nav-item pt-2 pe-2" role="presentation">
      <button class="nav-link text-primary bg-gradient border-2 border-primary" id="profile-tab" data-bs-toggle="tab"
        data-bs-target="#profile" type="button" role="tab" aria-controls="profile"
        aria-selected="false">Inscription</button>
    </li>
    {{!-- BOUTON MOT DE PASSE OUBLIE --}}
    <li class="nav-item pt-2" role="presentation">
      <button class="nav-link bg-gradient border-2 border-primary text-primary" id="messages-tab" data-bs-toggle="tab"
        data-bs-target="#messages" type="button" role="tab" aria-controls="messages" aria-selected="false">Mot de passe
        oublié</button>
    </li>
  </ul>

  {{! CONTENU TABS AUTH }}
  <div class="tab-content ">
    {{!-- FORMULAIRE DE CONNEXION --}}
    <div class=" tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <form class="container" action='/auth' method="POST">
        <div class="mb-3">
          <h1 class="text-white pt-4 text-center">Connexion</h1>
          {{!-- INPUT MAIL --}}
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" name='email' id="email" aria-describedby="emailHelp" required />
          <div id="emailHelp" class="form-text"></div>
        </div>
        {{!-- INPUT PASSWORD --}}
        <div class="mb-3">
          <label for="password" class="form-label">Mot de passe:</label>
          <input type="password" class=" form-control" name='password' id="password" required />
        </div>
        <div class="pb-4 text-muted">
          <input type="checkbox" class="" onclick="showPass()">Afficher MDP
        </div>

        <div>
          <div class="col-12 pb-3 form-check">
            <input type="checkbox" class="form-check-input justify-content-end" name='checked' id="check" required />
            <label class="form-check-label pe-3" for="check">J'accepte les <span><a href="/CGU">CGU</a></span> </label>
          </div>
          <div class="col-12 pb-4 text-center">
            <button type="submit" id="oui" class="button btn btn-primary">Se connecter</button>

          </div>
          <div id="non" style="display: none" class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>

      </form>
    </div>
    {{! FORMULAIRE D'INSCRIPTION }}
    <div class="tab-pane container-fluid " id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <form id="form" onsubmit="checkForm(event)" class="container" action='/auth/register' method="POST">
        <h1 class="text-white text-center pt-4">Inscription</h1>
        <div class="row">
          {{!-- INPUT NOM --}}
          <div class="col-md-6">
            <label for="name" class="form-label">Nom:</label>
            <input type="text" class="form-control" id="name" name='full_name' aria-describedby="emailHelp" required />
            <div id="emailHelp" class="form-text"></div>
          </div>
          {{!-- INPUT PSEUDO --}}
          <div class="col-md-6">
            <label for="nickname" class="form-label">Pseudo:</label>
            <input type="text" class="form-control" id="nickname" name='nickname' aria-describedby="emailHelp"
              required />
            <div id="emailHelp" class="form-text"></div>
          </div>
        </div>
        {{!-- INPUT EMAIL --}}
        <div class="mb-3">

          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" id="email" name='email' aria-describedby="emailHelp" required />
          <div id="emailHelp" class="form-text"></div>
        </div>
        {{!-- INPUT PASSWORD --}}
        <div class="mb-3">
          <label for="password" class="form-label">Mot de passe:</label>
          <input type="password" class="form-control" name='password' id="passwordd" required />
        </div>
        {{!-- INPUT PASSWORD CONFIRM --}}
        <div class="mb-3">
          <label for="passwordConfirm" class="form-label">Confirmer le mot de
            passe:</label>
          <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" required />
        </div>
        <div class="row">
          <div class="mb-3 col-12 form-check">
            <input type="checkbox" class="form-check-input" name='checked' id="checkRegister" required />
            <label class="form-check-label" for="check">J'accepte les <a href="/CGU">CGU</a></label>
          </div>
          <div class="pb-4 col-12 text-center">
            <button class="btn btn-primary text-center">S'inscrire</button>
          </div>
        </div>


      </form>
    </div>
    {{!-- MOT DE PASSE OUBLIE --}}
    <div class="tab-pane container" id="messages" role="tabpanel" aria-labelledby="messages-tab">
      <form class="container" action='/auth/lost_pwd' method="POST">
        <div class="mb-3">
          <h1 class="text-white text-center pt-4">Mot de passe oublié</h1>
          {{!-- INPUT EMAIL --}}
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" name="email" aria-describedby="emailHelp" required />
          <div id="emailHelp" class="form-text"></div>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" required id="checkLostPassword" />
          <label class="form-check-label" for="check">J'accepte les <a href="/CGU">CGU</a></label>
        </div>
        <div class="pb-2">
          <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
      </form>
    </div>
  </div>
</section>
{{!-- //AFFICHAGE DU MOT DE PASSE EN CLAIR --}}
<script>
  const test = document.getElementById('oui')
  test.addEventListener('click', () => {
    document.getElementById('non').style.display = 'block'
  })
  function showPass() {
    var x = document.getElementById("password");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>
{{!-- REGEX FORMULAIRE --}}
<script>
  //RECUPERATION INPUT ET FORMULAIRE
  const form = document.getElementById('form');
  const input = document.getElementsByTagName('input');

  //FONCTION VERIFICATION DU FORMULAIRE
  function checkForm(event) {
    event.preventDefault()
    //RECUPÉRATION DU MOT DE PASSE, DE LA CHECKBOX ET DE LA REGEX ET DU FLASH 
    const pass = document.getElementById('passwordd').value;
    const accept = document.getElementById('checkRegister').checked;
    const passConfirm = document.getElementById('passwordConfirm').value;
    const flash = document.getElementById('flash');
    const regex = /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,}$/;

    //SI LE PASSWORD NE CORRESPOND PAS A LA REGEX
    if (!pass.match(regex)) {
      // Gestion du flash (error)
      flash.style.color = 'red';
      flash.innerText = 'Le mot de passe ne respect pas la chartes !';
      // Condition pour checker si password est bien égale avec passwordConfim
      //SI LES MOTS DE PASSES NE SONT PAS IDENTIQUES      
    } else if (pass !== passConfirm) {
      // Gestion du flash (error)
      flash.style.color = 'red';
      flash.innerText = 'Les mots de passe ne sont pas identique !';
      // Condition pour checker si les conditions on été acceptez
      //SI LA CHECKBOX N'EST PAS CHECKÉE      
    } else if (!accept) {
      // Gestion du flash (error)
      flash.style.color = 'red';
      flash.innerText = 'Vous devez acceptez les conditions !';
      // Et si toute les conditions son respecter alors on envoit le formulaire
      //SI TOUT EST OK ON ENVOIE LE FORMULAIRE      
    } else if (pass.match(regex) && pass === passConfirm && accept === true) {
      alert("Confirmer l'envoie du formulaire");
      // C'est ici que le formulaire s'envoie
      form.submit();
    }


  }
</script>