<!--FOOTER-->

<footer class="fixed-bottom">
    <!--image+nom_musique+nom_artiste-->
    <div class="container-fluid  bg-dark pt-2">
        <div class="row">
            <div class="col-md-3">
                <div class="media">
                    <img src="../assets/images/sylvie.jpg" alt="profil" class="align-self-center  w-25">
                </div>
                <div class="media-body text-white">
                    <h4 class="mt-0">Admin Song Name</h4>
                    <p>Admin Artist Name</p>
                </div>
            </div>
        </div>
        <!--media player-->
        <div class="col-md-6">
            <div class="text-white align-items-center d-flex justify-content-center pb-2">
                <i type="button" class="text-primary fas fa-random me-2"></i>
                <i type="button" class="text-primary fas fa-backward me-2"></i>
                <i type="button" class="text-primary fas fa-play me-2"></i>
                <i type="button" class="text-primary fas fa-forward me-2"></i>
            </div>
            <div class="progress">
                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated w-75"
                    role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>


        </div>
        <div class="col-md-3">
            <div class="d-flex justify-content-end">
                <i type="button" class="fab fa-facebook"></i>
            </div>

        </div>





    </div>


</footer>