<!DOCTYPE html>
<html lang="en">

<!--HEAD-->

<head>
    <!--encodage-->
    <meta charset="UTF-8">
    <!--responsive-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--icones-->
    <script src="https://kit.fontawesome.com/6ef412e734.js" crossorigin="anonymous"></script>
    <!--FONTS-->



    <style>
        @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,700&display=swap');
    </style>
    <!--FAVICON -->
    <link rel="shortcut icon" type="image/png" href="/assets/images/download.png" />

    <!--STYLE-->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/body.css">
    <!--titre-->
    <title>Pas-OVH</title>
</head>
<!--/HEAD-->

<body class="text-primary">



{{!-- //
   $$$$$$$\   $$$$$$\  $$$$$$$\ $$$$$$$$\  $$$$$$\  
   $$  __$$\ $$  __$$\ $$  __$$\\__$$  __|$$  __$$\ 
   $$ |  $$ |$$ /  \__|$$ |  $$ |  $$ |   $$ /  \__|
   $$$$$$$\ |$$ |$$$$\ $$ |  $$ |  $$ |   $$ |      
   $$  __$$\ $$ |\_$$ |$$ |  $$ |  $$ |   $$ |      
   $$ |  $$ |$$ |  $$ |$$ |  $$ |  $$ |   $$ |  $$\ 
   $$$$$$$  |\$$$$$$  |$$$$$$$  |  $$ |   \$$$$$$  |
   \_______/  \______/ \_______/   \__|    \______/ 
                                                 
              --}}