<section class="pt-5 container-fluid bg-light">
    {{! TABS ADMIN BOUTONS }}
    <ul class="nav nav-tabs container pb-3 ps-3 pt-5" id="myTab" role="tablist">
        {{!-- GESTION UTILISATEURS --}}
        <li class="nav-item ps-2 pe-2" role="presentation">
            <button class="nav-link border border-primary active text-white bg-dark" id="users-tab" data-bs-toggle="tab"
                data-bs-target="#users" type="button" role="tab" aria-controls="users"
                aria-selected="true">Utilisateurs</button>
        </li>
        {{!-- GESTION MESSAGES --}}
        <li class="nav-item pe-2" role="presentation">
            <button class="nav-link bg-dark border border-primary text-white" id="messages-tab" data-bs-toggle="tab"
                data-bs-target="#messages" type="button" role="tab" aria-controls="messages"
                aria-selected="false">Messages</button>
        </li>
        {{!-- GESTION DES COMMENTAIRES ET AVIS --}}
        <li class="nav-item pe-2" role="presentation">
            <button class="nav-link bg-dark border border-primary text-white" id="comments-tab" data-bs-toggle="tab"
                data-bs-target="#comments" type="button" role="tab" aria-controls="comments"
                aria-selected="false">Commentaires & Avis</button>
        </li>
        {{!-- GESTION DES ARTICLES --}}
        <li class="nav-item pe-2" role="presentation">
            <button class="nav-link bg-dark border border-primary text-white" id="articles-tab" data-bs-toggle="tab"
                data-bs-target="#articles" type="button" role="tab" aria-controls="articles"
                aria-selected="false">Articles</button>
        </li>
    </ul>
    {{! CONTENU DES TABS ADMIN }}
    <div class="tab-content container">
        {{!-- GESTION DES UTILISATEURS --}}
        <div class="tab-pane active" id="users" role="tabpanel" aria-labelledby="users-tab">
            <table class="table table-sm table-bordered ">
                <thead class="">
                    {{!-- TITRES ELEMENTS TABLEAU --}}
                    <tr>
                        <th scope="col">#id</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Email</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                {{!-- CONTENU TABLEAU --}}
                <tbody class="">
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>michel@michou.fr</td>
                        <td>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Verified</option>

                                <option value="2">Banned</option>
                                <option value="3">User</option>
                            </select>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                X
                            </button>
                        </td>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Êtes vous sûr de vouloir
                                            supprimer cet utilisateur ?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-dark">
                                        -Suppression de : *username*
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger"
                                            data-bs-dismiss="modal">Annuler</button>
                                        <button type="button" class="btn btn-success">Appliquer</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>thorn</td>
                        <td>thorn.lol@lol.fr</td>
                        <td>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Banned</option>
                                <option value="1">Verified</option>

                                <option value="3">User</option>
                            </select>

                        </td>
                        <td><button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                X
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Êtes vous sûr de vouloir
                                                supprimer cet utilisateur ?</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-dark">
                                            -Suppression de : *username*
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger"
                                                data-bs-dismiss="modal">Annuler</button>
                                            <button type="button" class="btn btn-success">Appliquer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry the Bird</td>
                        <td>thorn.lol@lol.fr</td>
                        <td>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>User</option>
                                <option value="1">Verified</option>
                                <option value="2">Banned</option>

                            </select>
                        </td>
                        <td><button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                X
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Êtes vous sûr de vouloir
                                                supprimer cet utilisateur ?</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-dark">
                                            -Suppression de : *username*
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger"
                                                data-bs-dismiss="modal">Annuler</button>
                                            <button type="button" class="btn btn-success">Appliquer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            {{!-- BOUTON APPLIQUER LES MODIFS --}}
            <div class="d-flex justify-content-end pb-5">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                    Appliquer les modifications
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Êtes vous sûr de vouloir appliquer les
                                    modifications</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-dark">
                                -User : Mark status changed from 'user' => 'banned'
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                                <button type="button" class="btn btn-success">Appliquer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {{! GESTION DES MESSAGES }}
        <div class="tab-pane container" id="messages" role="tabpanel" aria-labelledby="messages-tab">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal1">
                Nouveau Message
            </button>

            <!-- MODAL ENVOI MESSAGE -->
            <div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Formulaire d'envoi</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!--FORMULAIRE DE MESSAGE-->
                            <section class="container-fluid" id="contactForm">

                                <div class="container  fw-bold pt-2 pb-3">
                                    {{!-- TITRE NOUVEAU MESSAGE --}}
                                    <div class="col-md-12 text-center">
                                        <h2 class=" fw-bolder text-primary rounded  text-dark  pb-1 ">Nouveau Message
                                        </h2>
                                    </div>
                                    {{!-- FORMULAIRE ENVOI MESSAGE --}}
                                    <form action="" class=" pt-3  row pe-2  border-top border-primary">
                                        {{!-- input destinataire --}}
                                        <div class="col-md-12 pt-5">
                                            <label for="email" class="form-label text-primary">Destinataire:</label>
                                            <input type="email" class="form-control bg-dark text-white" id="email"
                                                required>
                                        </div>
                                        {{!-- input sujet --}}
                                        <div class="col-12 ">
                                            <label for="sujet" class="form-label text-primary">Objet:</label>
                                            <input type="text" class="form-control bg-dark text-white" id="sujet"
                                                required>
                                        </div>
                                        {{!-- input message --}}
                                        <div class="col-12 ">
                                            <label for="message" class="form-label text-dark">Message:</label>
                                            <textarea name="" class="form-control bg-dark text-white" id="message"
                                                cols="30" rows="10" required></textarea>
                                        </div>
                                        {{!-- cgu --}}
                                        <div class="col-6 pt-4 justify-content-end">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input " id="check" required>
                                                <label for="check" class="form-check-label text-dark">
                                                    J'accepte les <span class="text-primary"><a href="/">CGU</a></span>
                                                    !
                                                </label>
                                            </div>
                                        </div>
                                        {{!-- bouton send --}}
                                        <div class="col-6 d-flex pt-4 justify-content-end pb-2">
                                            <button type="submit"
                                                class="btn bg-dark  fw-bolder text-white">Envoyer</button>
                                        </div>

                                </div>

                                </form>


                            </section>
                        </div>

                    </div>
                </div>



                </table>
            </div>
            {{!-- AFFICHAGE DES MESSAGES RECUS --}}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#id</th>
                        <th scope="col">Expediteur</th>
                        <th scope="col">Email</th>
                        <th scope="col">Objet</th>
                        <th scope="col">Action</th>
                        <th scope="col">Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>michel@michou.fr</td>
                        <td>
                            blablablablabla
                        </td>
                        <td><button type="button" data-bs-toggle="modal" data-bs-target="#modal3"
                                class="btn btn-primary">Lire</button></td>
                        <td><button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#modal2">
                                Supprimer
                            </button>

                            <!-- MODAL 2 -->
                            <div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Êtes vous sûr de vouloir
                                                supprimer ce message ?</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-dark">
                                            -Suppression du message de : *tetedebite*
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary"
                                                data-bs-dismiss="modal">Annuler</button>
                                            <button type="button" class="btn btn-danger">Appliquer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{!-- MODAL 3 --}}
                            <div class="modal fade" id="modal3" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Message de : *tetedebite*
                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-dark">
                                            <h6>objet: blablabla</h6>
                                            <p>Contenu du message : 00000000000000000000000</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger"
                                                data-bs-dismiss="modal">Fermer</button>
                                            <button type="button" data-bs-toggle="modal" data-bs-target="#modal4"
                                                class="btn btn-success">Répondre</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{!-- MODAL 4 --}}
                            <div class="modal fade" id="modal4" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Formulaire de réponse</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <!--FORMULAIRE DE REPONSE -->
                                            <section class="container-fluid" id="contactForm">

                                                <div class="container  fw-bold pt-2 pb-3">
                                                    {{!-- TITRE REPONSE MESSAGE --}}
                                                    <div class="col-md-12 text-center">
                                                        <h2 class=" fw-bolder text-primary rounded  text-dark  pb-1 ">
                                                            Répondre
                                                        </h2>
                                                    </div>
                                                    {{!-- FORMULAIRE REPONSE MESSAGE --}}
                                                    <form action="" class=" pt-3  row pe-2  border-top border-primary">
                                                        {{!-- input destinataire --}}
                                                        <div class="col-md-12 pt-5">
                                                            <label for="email"
                                                                class="form-label text-primary">Destinataire:</label>
                                                            <input type="email" disabled placeholder="Michel@michou.fr"
                                                                class="form-control bg-dark text-white" id="email"
                                                                required>
                                                        </div>
                                                        {{!-- input sujet --}}
                                                        <div class="col-12 ">
                                                            <label for="sujet"
                                                                class="form-label text-primary">Objet:</label>
                                                            <input type="text" class="form-control bg-dark text-white"
                                                                id="sujet" required>
                                                        </div>
                                                        {{!-- input message --}}
                                                        <div class="col-12 ">
                                                            <label for="message"
                                                                class="form-label text-dark">Message:</label>
                                                            <textarea name="" class="form-control bg-dark text-white"
                                                                id="message" cols="30" rows="10" required></textarea>
                                                        </div>
                                                        {{!-- cgu --}}
                                                        <div class="col-6 pt-4 justify-content-end">
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input "
                                                                    id="check" required>
                                                                <label for="check" class="form-check-label text-dark">
                                                                    J'accepte les <span class="text-primary"><a
                                                                            href="/">CGU</a></span>
                                                                    !
                                                                </label>
                                                            </div>
                                                        </div>
                                                        {{!-- bouton send --}}
                                                        <div class="col-6 d-flex pt-4 justify-content-end pb-2">
                                                            <button type="submit"
                                                                class="btn bg-dark  fw-bolder text-white">Envoyer</button>
                                                        </div>

                                                </div>

                                                </form>


                                            </section>
                                        </div>

                                    </div>
                                </div>
                </tbody>
            </table>

        </div>
        {{! GESTION DES AVIS ET COMMENTAIRES }}
        <div class=" tab-pane container" id="comments" role="tabpanel" aria-labelledby="comments-tab">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#id</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Avis / Commentaire</th>
                        <th scope="col">Contenu</th>
                        <th scope="col">Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Avis</td>
                        <td>
                            Avis #45 : super site trop cool !
                        </td>
                        <td><button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal1">
                                Supprimer
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Êtes vous sûr de vouloir
                                                supprimer cet utilisateur ?</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-dark">
                                            -Suppression de : *username*
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger"
                                                data-bs-dismiss="modal">Annuler</button>
                                            <button type="button" class="btn btn-success">Appliquer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>thorn</td>
                        <td>Commentaire</td>
                        <td>
                            Article: #4 : super article génial wouhou!
                        </td>
                        <td><button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal1">
                                Supprimer
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Êtes vous sûr de vouloir
                                                supprimer cet utilisateur ?</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-dark">
                                            -Suppression de : *username*
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger"
                                                data-bs-dismiss="modal">Annuler</button>
                                            <button type="button" class="btn btn-success">Appliquer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry the Bird</td>
                        <td>Commentaire</td>
                        <td>
                            Article: #54 : super article génial !
                        </td>
                        <td><button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal1">
                                Supprimer
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Êtes vous sûr de vouloir
                                                supprimer cet utilisateur ?</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-dark">
                                            -Suppression de : *username*
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger"
                                                data-bs-dismiss="modal">Annuler</button>
                                            <button type="button" class="btn btn-success">Appliquer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-end">
                <!-- Button trigger modal -->

                <!-- Modal -->
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Suppression commentaire/avis</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-dark">
                                Êtes vous sur de vouloir supprimer cet Avis/Commentaire ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Non</button>
                                <button type="button" class="btn btn-danger">Oui</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {{!-- GESTION DES ARTICLES --}}

        <div class=" tab-pane container" id="articles" role="tabpanel" aria-labelledby="articles-tab">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#id</th>
                        <th scope="col">Auteur</th>
                        <th scope="col">Titre Article</th>
                        <th scope="col">Description</th>
                        <th scope="col">Modifier</th>
                        <th scope="col">Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Avis</td>
                        <td>
                            Avis #45 : super site trop cool !
                        </td>
                        <td><button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal6">
                                Modifier
                            </button>

                            <!-- Modal -->
                            {{!-- MODAL Modif ARTICLE --}}
                            <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modification</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <!--FORMULAIRE DE REPONSE -->
                                            <section class="container-fluid" id="contactForm">

                                                <div class="container  fw-bold pt-2 pb-3">
                                                    {{!-- TITRE REPONSE MESSAGE --}}
                                                    <div class="col-md-12 text-center">
                                                        <h2 class=" fw-bolder text-primary rounded  text-dark  pb-1 ">
                                                            Modifier l'article
                                                        </h2>
                                                    </div>
                                                    {{!-- FORMULAIRE REPONSE MESSAGE --}}
                                                    <form action="" class=" pt-3  row pe-2  border-top border-primary">
                                                        {{!-- input destinataire --}}
                                                        <div class="col-md-12 pt-5">
                                                            <label for="artImage">Image de l'article</label>
                                                            <input type="file" name="" id="artImage">
                                                        </div>
                                                        <div class="col-md-12 pt-5">
                                                            <label for="artTitre" class="form-label text-primary">Titre de
                                                                l'article</label>
                                                            <input type="text" placeholder="Noix de coco"
                                                                class="form-control bg-dark text-white" id="artTitre"
                                                                required>
                                                        </div>
                                                        {{!-- input sujet --}}
                                                        <div class="col-12 ">
                                                            <label for="artDescription"
                                                                class="form-label text-primary">Description:</label>
                                                            <input type="text" class="form-control bg-dark text-white"
                                                                id="artDescription"
                                                                placeholder="description super géniale" required>
                                                        </div>
                                                        {{!-- input message --}}
                                                        <div class="col-12 ">
                                                            <label for="artContenu"
                                                                class="form-label text-dark">Contenu:</label>
                                                            <textarea name="" class="form-control bg-dark text-white"
                                                                id="artContenu" cols="30" rows="10"
                                                                required>super article sur les noix de coco</textarea>
                                                        </div>
                                                        {{!-- cgu --}}
                                                        <div class="col-6 pt-4 justify-content-end">
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input "
                                                                    id="check" required>
                                                                <label for="check" class="form-check-label text-dark">
                                                                    J'accepte les <span class="text-primary"><a
                                                                            href="/">CGU</a></span>
                                                                    !
                                                                </label>
                                                            </div>
                                                        </div>
                                                        {{!-- bouton send --}}
                                                        <div class="col-6 d-flex pt-4 justify-content-end pb-2">
                                                            <button type="submit"
                                                                class="btn bg-dark  fw-bolder text-white">Appliquer</button>
                                                        </div>

                                                </div>

                                                </form>


                                            </section>
                                        </div>

                                    </div>
                                </div>

                        </td>
                        <td><button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal12">
                                Supprimer
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal12" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Êtes vous sûr de vouloir
                                                supprimer cet article ?</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-dark">
                                            -Suppression de : *super article*
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger"
                                                data-bs-dismiss="modal">Annuler</button>
                                            <button type="button" class="btn btn-success">Appliquer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>thorn</td>
                        <td>Commentaire</td>
                        <td>
                            Article: #4 : super article génial wouhou!
                        </td>
                        <td><button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal6">
                                Modifier
                            </button>

                            <!-- Modal -->
                            {{!-- MODAL Modif ARTICLE --}}
                            <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modification</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <!--FORMULAIRE DE REPONSE -->
                                            <section class="container-fluid" id="contactForm">

                                                <div class="container  fw-bold pt-2 pb-3">
                                                    {{!-- TITRE REPONSE MESSAGE --}}
                                                    <div class="col-md-12 text-center">
                                                        <h2 class=" fw-bolder text-primary rounded  text-dark  pb-1 ">
                                                            Modifier l'article
                                                        </h2>
                                                    </div>
                                                    {{!-- FORMULAIRE REPONSE MESSAGE --}}
                                                    <form action="" class=" pt-3  row pe-2  border-top border-primary">
                                                        {{!-- input destinataire --}}
                                                        <div class="col-md-12 pt-5">
                                                            <label for="for">Image de l'article</label>
                                                            <input type="file" name="" id="for">
                                                        </div>
                                                        <div class="col-md-12 pt-5">
                                                            <label for="email" class="form-label text-primary">Titre de
                                                                l'article</label>
                                                            <input type="email" placeholder="Noix de coco"
                                                                class="form-control bg-dark text-white" id="artTitle"
                                                                required>
                                                        </div>
                                                        {{!-- input sujet --}}
                                                        <div class="col-12 ">
                                                            <label for="sujet"
                                                                class="form-label text-primary">Description:</label>
                                                            <input type="text" class="form-control bg-dark text-white"
                                                                id="artDescription"
                                                                placeholder="description super géniale" required>
                                                        </div>
                                                        {{!-- input message --}}
                                                        <div class="col-12 ">
                                                            <label for="message"
                                                                class="form-label text-dark">Contenu:</label>
                                                            <textarea name="" class="form-control bg-dark text-white"
                                                                id="artContenu" cols="30" rows="10"
                                                                required>super article sur les noix de coco</textarea>
                                                        </div>
                                                        {{!-- cgu --}}
                                                        <div class="col-6 pt-4 justify-content-end">
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input "
                                                                    id="check" required>
                                                                <label for="check" class="form-check-label text-dark">
                                                                    J'accepte les <span class="text-primary"><a
                                                                            href="/">CGU</a></span>
                                                                    !
                                                                </label>
                                                            </div>
                                                        </div>
                                                        {{!-- bouton send --}}
                                                        <div class="col-6 d-flex pt-4 justify-content-end pb-2">
                                                            <button type="submit"
                                                                class="btn bg-dark  fw-bolder text-white">Appliquer</button>
                                                        </div>

                                                </div>

                                                </form>


                                            </section>
                                        </div>

                                    </div>
                                </div>

                        </td>
                        <td><button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal11">
                                Supprimer
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal11" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Êtes vous sûr de vouloir
                                                supprimer cet article ?</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-dark">
                                            -Suppression de : *super article*
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger"
                                                data-bs-dismiss="modal">Annuler</button>
                                            <button type="button" class="btn btn-success">Appliquer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry the Bird</td>
                        <td>Commentaire</td>
                        <td>
                            Article: #54 : super article génial !
                        </td>
                        <td><button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal6">
                                Modifier
                            </button>

                            <!-- Modal -->
                            {{!-- MODAL Modif ARTICLE --}}
                            <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modification</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <!--FORMULAIRE DE REPONSE -->
                                            <section class="container-fluid" id="contactForm">

                                                <div class="container  fw-bold pt-2 pb-3">
                                                    {{!-- TITRE REPONSE MESSAGE --}}
                                                    <div class="col-md-12 text-center">
                                                        <h2 class=" fw-bolder text-primary rounded  text-dark  pb-1 ">
                                                            Modifier l'article
                                                        </h2>
                                                    </div>
                                                    {{!-- FORMULAIRE REPONSE MESSAGE --}}
                                                    <form action="" class=" pt-3  row pe-2  border-top border-primary">
                                                        {{!-- input destinataire --}}
                                                        <div class="col-md-12 pt-5">
                                                            <label for="for">Image de l'article</label>
                                                            <input type="file" name="" id="for">
                                                        </div>
                                                        <div class="col-md-12 pt-5">
                                                            <label for="email" class="form-label text-primary">Titre de
                                                                l'article</label>
                                                            <input type="email" placeholder="Noix de coco"
                                                                class="form-control bg-dark text-white" id="artTitle"
                                                                required>
                                                        </div>
                                                        {{!-- input sujet --}}
                                                        <div class="col-12 ">
                                                            <label for="sujet"
                                                                class="form-label text-primary">Description:</label>
                                                            <input type="text" class="form-control bg-dark text-white"
                                                                id="artDescription"
                                                                placeholder="description super géniale" required>
                                                        </div>
                                                        {{!-- input message --}}
                                                        <div class="col-12 ">
                                                            <label for="message"
                                                                class="form-label text-dark">Contenu:</label>
                                                            <textarea name="" class="form-control bg-dark text-white"
                                                                id="artContenu" cols="30" rows="10"
                                                                required>super article sur les noix de coco</textarea>
                                                        </div>
                                                        {{!-- cgu --}}
                                                        <div class="col-6 pt-4 justify-content-end">
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input "
                                                                    id="check" required>
                                                                <label for="check" class="form-check-label text-dark">
                                                                    J'accepte les <span class="text-primary"><a
                                                                            href="/">CGU</a></span>
                                                                    !
                                                                </label>
                                                            </div>
                                                        </div>
                                                        {{!-- bouton send --}}
                                                        <div class="col-6 d-flex pt-4 justify-content-end pb-2">
                                                            <button type="submit"
                                                                class="btn bg-dark  fw-bolder text-white">Appliquer</button>
                                                        </div>

                                                </div>

                                                </form>


                                            </section>
                                        </div>

                                    </div>
                                </div>

                        </td>
                        <td><button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal113">
                                Supprimer
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal113" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Êtes vous sûr de vouloir
                                                supprimer cet article ?</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-dark">
                                            -Suppression de : *super article*OIX DE COCO
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger"
                                                data-bs-dismiss="modal">Annuler</button>
                                            <button type="button" class="btn btn-success">Appliquer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pb-5">
                  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal7">
                Ajouter un article
            </button>
            </div>
          

            <!-- Modal -->
            {{!-- MODAL Modif ARTICLE --}}
            <div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ajout</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!--FORMULAIRE DE REPONSE -->
                            <section class="container-fluid" id="contactForm">

                                <div class="container  fw-bold pt-2 pb-3">
                                    {{!-- TITRE REPONSE MESSAGE --}}
                                    <div class="col-md-12 text-center">
                                        <h2 class=" fw-bolder text-primary rounded  text-dark  pb-1 ">
                                            Ajouter un article
                                        </h2>
                                    </div>
                                    {{!-- FORMULAIRE REPONSE MESSAGE --}}
                                    <form action="" class=" pt-3  row pe-2  border-top border-primary">
                                        {{!-- input destinataire --}}
                                        <div class="col-md-12 pt-5">
                                            <label for="for">Image de l'article</label>
                                            <input type="file" name="" id="for">
                                        </div>
                                        <div class="col-md-12 pt-5">
                                            <label for="email" class="form-label text-primary">Titre de
                                                l'article</label>
                                            <input type="email" placeholder="Noix de coco"
                                                class="form-control bg-dark text-white" id="artTitle" required>
                                        </div>
                                        {{!-- input sujet --}}
                                        <div class="col-12 ">
                                            <label for="sujet" class="form-label text-primary">Description:</label>
                                            <input type="text" class="form-control bg-dark text-white"
                                                id="artDescription" placeholder="description super géniale" required>
                                        </div>
                                        {{!-- input message --}}
                                        <div class="col-12 ">
                                            <label for="message" class="form-label text-dark">Contenu:</label>
                                            <textarea name="" class="form-control bg-dark text-white" id="artContenu"
                                                placeholder="inserez du contenu" cols="30" rows="10"
                                                required></textarea>
                                        </div>
                                        {{!-- cgu --}}
                                        <div class="col-6 pt-4 justify-content-end">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input " id="check" required>
                                                <label for="check" class="form-check-label text-dark">
                                                    J'accepte les <span class="text-primary"><a href="/">CGU</a></span>
                                                    !
                                                </label>
                                            </div>
                                        </div>
                                        {{!-- bouton send --}}
                                        <div class="col-6 d-flex pt-4 justify-content-end pb-2">
                                            <button type="submit"
                                                class="btn bg-dark  fw-bolder text-white">Ajouter</button>
                                        </div>

                                </div>

                                </form>


                            </section>
                        </div>

                    </div>
                </div>

            </div>

        </div>
</section>



<script>
    var firstTabEl = document.querySelector('#myTab li:last-child a') var firstTab
        = new bootstrap.Tab(firstTabEl) firstTab.show()
</script>


<style>
    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {

        /* Force table to not be like tables anymore */
        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr {
            border: 1px solid #ccc;
        }

        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

        /*
Label the data
*/


}
</style>