{{!-- 
     ROUTE : /ADMIN
     PARTIAL ARTICLES
 --}}

{{!-- PARTIAL ARTICLES ADMIN --}}
{{!-- TABLEAU --}}
<table class="table">
    {{!-- LEGENDE TABLEAU --}}
    <thead>
        <tr>
            <th scope="col">#id</th>
            <th scope="col">Auteur</th>
            <th scope="col">Titre Article</th>
            <th scope="col">Description</th>
            <th scope="col">Modifier</th>
            <th scope="col">Supprimer</th>
        </tr>
    </thead>
    {{!-- CONTENU TABLEAU --}}
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Avis</td>
            <td>
                Avis #45 : super site trop cool !
            </td>
            <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal6">
                    Modifier
                </button>

                <!-- Modal -->
                {{!-- MODAL Modif ARTICLE --}}
                <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modification</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!--FORMULAIRE DE REPONSE -->
                                <section class="container-fluid" id="contactForm">

                                    <div class="container  fw-bold pt-2 pb-3">
                                        {{!-- TITRE REPONSE MESSAGE --}}
                                        <div class="col-md-12 text-center">
                                            <h2 class=" fw-bolder text-primary rounded  text-dark  pb-1 ">
                                                Modifier l'article
                                            </h2>
                                        </div>
                                        {{!-- FORMULAIRE REPONSE MESSAGE --}}
                                        <form action="" class=" pt-3  row pe-2  border-top border-primary">
                                            {{!-- input destinataire --}}
                                            <div class="col-md-12 pt-5">
                                                <label for="artImage">Image de l'article</label>
                                                <input type="file" name="" id="artImage">
                                            </div>
                                            <div class="col-md-12 pt-5">
                                                <label for="artTitre" class="form-label text-primary">Titre
                                                    de
                                                    l'article</label>
                                                <input type="text" placeholder="Noix de coco"
                                                    class="form-control bg-dark text-white" id="artTitre" required>
                                            </div>
                                            {{!-- input sujet --}}
                                            <div class="col-12 ">
                                                <label for="artDescription"
                                                    class="form-label text-primary">Description:</label>
                                                <input type="text" class="form-control bg-dark text-white"
                                                    id="artDescription" placeholder="description super géniale"
                                                    required>
                                            </div>
                                            {{!-- input message --}}
                                            <div class="col-12 ">
                                                <label for="artContenu" class="form-label text-dark">Contenu:</label>
                                                <textarea name="" class="form-control bg-dark text-white"
                                                    id="artContenu" cols="30" rows="10"
                                                    required>super article sur les noix de coco</textarea>
                                            </div>
                                            {{!-- cgu --}}
                                            <div class="col-6 pt-4 justify-content-end">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input " id="check"
                                                        required>
                                                    <label for="check" class="form-check-label text-dark">
                                                        J'accepte les <span class="text-primary"><a
                                                                href="/">CGU</a></span>
                                                        !
                                                    </label>
                                                </div>
                                            </div>
                                            {{!-- bouton send --}}
                                            <div class="col-6 d-flex pt-4 justify-content-end pb-2">
                                                <button type="submit"
                                                    class="btn bg-dark  fw-bolder text-white">Appliquer</button>
                                            </div>

                                    </div>

                                    </form>


                                </section>
                            </div>

                        </div>
                    </div>

            </td>
            <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal12">
                    Supprimer
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal12" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Êtes vous sûr de vouloir
                                    supprimer cet article ?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-dark">
                                -Suppression de : *super article*
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                                <button type="button" class="btn btn-success">Appliquer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>thorn</td>
            <td>Commentaire</td>
            <td>
                Article: #4 : super article génial wouhou!
            </td>
            <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal6">
                    Modifier
                </button>

                <!-- Modal -->
                {{!-- MODAL Modif ARTICLE --}}
                <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modification</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!--FORMULAIRE DE REPONSE -->
                                <section class="container-fluid" id="contactForm">

                                    <div class="container  fw-bold pt-2 pb-3">
                                        {{!-- TITRE REPONSE MESSAGE --}}
                                        <div class="col-md-12 text-center">
                                            <h2 class=" fw-bolder text-primary rounded  text-dark  pb-1 ">
                                                Modifier l'article
                                            </h2>
                                        </div>
                                        {{!-- FORMULAIRE REPONSE MESSAGE --}}
                                        <form action="" class=" pt-3  row pe-2  border-top border-primary">
                                            {{!-- input destinataire --}}
                                            <div class="col-md-12 pt-5">
                                                <label for="for">Image de l'article</label>
                                                <input type="file" name="" id="for">
                                            </div>
                                            <div class="col-md-12 pt-5">
                                                <label for="email" class="form-label text-primary">Titre de
                                                    l'article</label>
                                                <input type="email" placeholder="Noix de coco"
                                                    class="form-control bg-dark text-white" id="artTitle" required>
                                            </div>
                                            {{!-- input sujet --}}
                                            <div class="col-12 ">
                                                <label for="sujet" class="form-label text-primary">Description:</label>
                                                <input type="text" class="form-control bg-dark text-white"
                                                    id="artDescription" placeholder="description super géniale"
                                                    required>
                                            </div>
                                            {{!-- input message --}}
                                            <div class="col-12 ">
                                                <label for="message" class="form-label text-dark">Contenu:</label>
                                                <textarea name="" class="form-control bg-dark text-white"
                                                    id="artContenu" cols="30" rows="10"
                                                    required>super article sur les noix de coco</textarea>
                                            </div>
                                            {{!-- cgu --}}
                                            <div class="col-6 pt-4 justify-content-end">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input " id="check"
                                                        required>
                                                    <label for="check" class="form-check-label text-dark">
                                                        J'accepte les <span class="text-primary"><a
                                                                href="/">CGU</a></span>
                                                        !
                                                    </label>
                                                </div>
                                            </div>
                                            {{!-- bouton send --}}
                                            <div class="col-6 d-flex pt-4 justify-content-end pb-2">
                                                <button type="submit"
                                                    class="btn bg-dark  fw-bolder text-white">Appliquer</button>
                                            </div>

                                    </div>

                                    </form>


                                </section>
                            </div>

                        </div>
                    </div>

            </td>
            <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal11">
                    Supprimer
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal11" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Êtes vous sûr de vouloir
                                    supprimer cet article ?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-dark">
                                -Suppression de : *super article*
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                                <button type="button" class="btn btn-success">Appliquer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>Commentaire</td>
            <td>
                Article: #54 : super article génial !
            </td>
            <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal6">
                    Modifier
                </button>

                <!-- Modal -->
                {{!-- MODAL Modif ARTICLE --}}
                <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modification</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!--FORMULAIRE DE REPONSE -->
                                <section class="container-fluid" id="contactForm">

                                    <div class="container  fw-bold pt-2 pb-3">
                                        {{!-- TITRE REPONSE MESSAGE --}}
                                        <div class="col-md-12 text-center">
                                            <h2 class=" fw-bolder text-primary rounded  text-dark  pb-1 ">
                                                Modifier l'article
                                            </h2>
                                        </div>
                                        {{!-- FORMULAIRE REPONSE MESSAGE --}}
                                        <form action="" class=" pt-3  row pe-2  border-top border-primary">
                                            {{!-- input destinataire --}}
                                            <div class="col-md-12 pt-5">
                                                <label for="for">Image de l'article</label>
                                                <input type="file" name="" id="for">
                                            </div>
                                            <div class="col-md-12 pt-5">
                                                <label for="email" class="form-label text-primary">Titre de
                                                    l'article</label>
                                                <input type="email" placeholder="Noix de coco"
                                                    class="form-control bg-dark text-white" id="artTitle" required>
                                            </div>
                                            {{!-- input sujet --}}
                                            <div class="col-12 ">
                                                <label for="sujet" class="form-label text-primary">Description:</label>
                                                <input type="text" class="form-control bg-dark text-white"
                                                    id="artDescription" placeholder="description super géniale"
                                                    required>
                                            </div>
                                            {{!-- input message --}}
                                            <div class="col-12 ">
                                                <label for="message" class="form-label text-dark">Contenu:</label>
                                                <textarea name="" class="form-control bg-dark text-white"
                                                    id="artContenu" cols="30" rows="10"
                                                    required>super article sur les noix de coco</textarea>
                                            </div>
                                            {{!-- cgu --}}
                                            <div class="col-6 pt-4 justify-content-end">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input " id="check"
                                                        required>
                                                    <label for="check" class="form-check-label text-dark">
                                                        J'accepte les <span class="text-primary"><a
                                                                href="/">CGU</a></span>
                                                        !
                                                    </label>
                                                </div>
                                            </div>
                                            {{!-- bouton send --}}
                                            <div class="col-6 d-flex pt-4 justify-content-end pb-2">
                                                <button type="submit"
                                                    class="btn bg-dark  fw-bolder text-white">Appliquer</button>
                                            </div>

                                    </div>

                                    </form>


                                </section>
                            </div>

                        </div>
                    </div>

            </td>
            <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal113">
                    Supprimer
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal113" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Êtes vous sûr de vouloir
                                    supprimer cet article ?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-dark">
                                -Suppression de : *super article*OIX DE COCO
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                                <button type="button" class="btn btn-success">Appliquer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
{{!-- BOUTON AJOUTER UN ARTICLE --}}
<div class="pb-5">
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal7">
        Ajouter un article
    </button>
</div>
{{!-- MODAL AJOUTER UN ARTICLE --}}
<div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajout</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <section class="container-fluid" id="contactForm">
                    <div class="container  fw-bold pt-2 pb-3">
                        <div class="col-md-12 text-center">
                            <h2 class=" fw-bolder text-primary rounded  text-dark  pb-1 ">
                                Ajouter un article
                            </h2>
                        </div>
                        {{!-- FORMULAIRE AJOUT ARTICLE --}}
                        <form action="" class=" pt-3  row pe-2  border-top border-primary">
                            {{!-- INPUT IMAGE --}}
                            <div class="col-md-12 pt-5">
                                <label for="for">Image de l'article</label>
                                <input type="file" name="" id="for">
                            </div>
                            {{!-- INPUT TITRE ARTICLE --}}
                            <div class="col-md-12 pt-5">
                                <label for="email" class="form-label text-primary">Titre de
                                    l'article</label>
                                <input type="email" placeholder="Noix de coco" class="form-control bg-dark text-white"
                                    id="artTitle" required>
                            </div>
                            {{!-- INPUT DESCRIPTION ARTICLE --}}
                            <div class="col-12 ">
                                <label for="sujet" class="form-label text-primary">Description:</label>
                                <input type="text" class="form-control bg-dark text-white" id="artDescription"
                                    placeholder="description super géniale" required>
                            </div>
                            {{!-- INPUT CONTENU ARTICLE --}}
                            <div class="col-12 ">
                                <label for="message" class="form-label text-dark">Contenu:</label>
                                <textarea name="" class="form-control bg-dark text-white" id="artContenu"
                                    placeholder="inserez du contenu" cols="30" rows="10" required></textarea>
                            </div>
                            {{!-- CASE ACCEPTER CGU --}}
                            <div class="col-6 pt-4 justify-content-end">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input " id="check" required>
                                    <label for="check" class="form-check-label text-dark">
                                        J'accepte les <span class="text-primary"><a href="/">CGU</a></span>
                                        !
                                    </label>
                                </div>
                            </div>
                            {{!-- BOUTON SUBMIT --}}
                            <div class="col-6 d-flex pt-4 justify-content-end pb-2">
                                <button type="submit" class="btn bg-dark  fw-bolder text-white">Ajouter</button>
                            </div>
                        </form>
                    </div>

                   


                </section>
            </div>

        </div>
    </div>

</div>