<section class="pt-5 container-fluid">
    <div class="container  pt-5">
        <h1 class="text-center text-decoration-underline">Mon Compte</h1>
        <img src="../assets/images/sylvie.jpg" class="rounded-pill img-thumbnail" alt="..." style="height: 80px;">
        <div class="d-flex justify-content-between">
            <label for="teee" class="text-dark">Changer votre image de profil :</label>
            <input type="file" name="" id="teee" class="">
        </div>

    </div>

</section>