 <form action="/account/{{ user.id }}?_method=PUT" method="POST">
            <div class="row">
                <div class="col-md-12">

                    <label for="teee" class="pe-4">Changez votre image de profil :</label>
                    <input type="file" name="" id="teee" class="text-dark">
                    <img src="assets/images/sylvie.jpg" class="rounded-pill img-thumbnail" alt="..."
                        style="height: 80px;">

                </div>
                <div class="col-md-6 pt-3">
                    <div class="col-md-12 pb-3">

                        <label class="pe-4 pb-2" for="full_name">Nom Complet : </label>
                        <input type="text" name="full_name" value="jean michel">
                    </div>

                    <div class="col-md-12 pb-3">
                        <label class="pe-4 pb-2" for="nickname">Pseudo : </label>
                        <input type="text" name="nickname" value="jeanm72">
                    </div>


                    <div class="col-md-12 pb-3">

                        <label class="pe-4 pb-2" for="email">Adresse Mail : </label>
                        <input type="email" name="email" value="jeanmich@hotmail.fr">
                    </div>

                    <div class="col-md-12 pb-3">
                        <label class="pe-4 pb-2" for="password">Modifiez votre mot de passe : </label>
                        <input type="password" name="password" placeholder="mot de passe actuel">
                        <input type="password" name="password" placeholder="nouveau mot de passe">
                        <input type="password" name="password" placeholder="confirmez votre mot de passe">
                    </div>
                </div>

                <div class="col-md-6 pt-3">
                   Mes derniers commentaires :
                </div>


            </div>



        </form>